

.navHead{
    /* position:fixed; */
display: flex;
/* width: 100%; */  
    color:white;

    padding: 10px;
    justify-content: space-between;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}



.catHead{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 50px;
}

.cat{
    font-size: 1.2rem;

    cursor: pointer;
}

.cat:hover{
    color: #ff6600;
    text-decoration: underline;
}

.iconHead{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 50px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .navHead{
      flex-direction: column;
    }
    .logo{
        font-size: 1.5rem;
        font-weight: bold;
    }

    .catHead{
        display: none;
    }

}

